* {
    font-family: "Roboto", sans-serif;
  
   
}

a {
    text-decoration: none !important;
    
}

.checkout-form label{
    font-weight: 700;
    font-size: 12px;
}

.checkout-form input{

    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.order-details label{

    font-weight: 700;
    font-size: 12px;

}

.order-details div{

    padding: 10px;
    font-size: 14px;

}

/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }
.checked{
  color: #ffd900;
}

.search-bar{
width: 40%;
margin-left: 5%;

}

.whatsapp-chat{
  bottom: 10px;
  left: 10px;
  position: fixed;
}
.img-responsive{
  width: 100%;
}
.img-curve{
  border-radius: 8px;
}
.category-text{

  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  
}
/* End of Star Rating */


